---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rest-robot
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest
spec:
  selector:
    matchLabels:
      k8s-app: rest
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: rest
    spec:
      serviceAccountName: rest-robot
      containers:
        - name: rest
          image: 'itcoursevideochat/rest:latest'
          resources:
            limits:
              cpu: "100m"
              memory: "64Mi"
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      priority: 0
      enableServiceLinks: true
      preemptionPolicy: PreemptLowerPriority
