apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: /Users/alex/bin/kompose convert -o k8s
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: prometheus
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: prometheus
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: /Users/alex/bin/kompose convert -o k8s
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: prometheus
    spec:
      containers:
      - image: prometheus
        imagePullPolicy: ""
        name: prometheus
        resources: {}
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null
status: {}
