name: Workflow 
on: 
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master 

jobs:
  chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: |
          docker-compose up -d
          sleep 1m
      - run: cd e2e && yarn install
      - run: cd e2e && yarn jest --verbose runWithSelenium.test.ts
    env:
      BROWSER: chrome
