name: Workflow 
on: 
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master 

jobs:
  chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get Skaffold
        run: |
          sudo apt install -yqq curl
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo install skaffold /usr/local/bin/
          rm -f skaffold
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        if: ${{ github.event_name == 'push' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        run: skaffold build --tag=latest
